/* custom css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-outfit: "Outfit", serif;
  --font-orienta: "Orienta", sans-serif;
  --font-inter: "Inter", sans-serif;
  --primary-color: #FC4622;
  --main-color: #171717;
  --white-color: #fff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}
li{
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.d-flex{
  display: flex;
}


img{
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 10px 30px;
  border-radius: 10px 0px 10px;
  -webkit-border-radius: 10px 0px 10px;
  -moz-border-radius: 10px 0px 10px;
  -ms-border-radius: 10px 0px 10px;
  -o-border-radius: 10px 0px 10px;
}

.btn-org:hover {
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
}

.btn-org {
  background-color: var(--primary-color);
}

/* header css */

header .container-fluid{
  height: 120px;
}

header .header-top {
  background-color: orangered;
}

header .header-top .icons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  color: white;
}

header .header-top .icons i {
  padding: 10px;
}

header .header-top .icons p {
  padding-top: 7px;
}

header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(120px - 46px);
}

header .header-bottom nav ul {
  display: flex;
}

header .header-bottom nav ul li {
  list-style: none;
  margin: 10px;
}


/* banner img */
main {
  background-image: url('../images/banner.jpg');
  background: rgba(0,0,0,0.0.5);
  height: calc(90vh - 120px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .container-fluid{
  display: flex;
  align-items: center;
  flex-direction: column;
}

main  h1 {
  padding-top: 15%;
  color: #fff;
}

main p {
  color: #fff;
  
}
main a{
  margin-top: 10px;
}

main .animation-img {
	animation: spin 15s linear infinite;
	-webkit-animation: spin 15s linear infinite;
	margin: 20px 0 0;
  width: 10%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

main .container-fluid .animation img {
	width: auto !important;
	height: auto !important;
	margin: 0 auto;
	object-fit: none;
}

/* Support logo section */
.support .support-logo{
  /* flex jevu kam kare column-count */
  column-count: 6; 
  /* display: flex; */
  padding-top: 20px;
}
.support .support-logo img{
  width: 100px;
  height: 100px;
}


/* about section */
.about{
  margin-top: 64px;
}

.about .about-img{
  position: relative;
  height: 100%;
  margin-right: 16px;
}

.about .about-img img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about  .about-img h1{
  width: 200px;
  height: 100px;
  background-color:black;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left:65% ;
  top: 70%;

}

.about .about-content h2{
  padding-top: 30px;
}
.about .about-content  h3{
  padding-top: 30px;
}
.about .about-content .btn{
  margin-top: 30px ;
}

.summary-title h1{
  color: #fff;
  text-align: center;
}
.summary-content{
  margin: 20px;
  padding: 50px;
}
.summary-content .col-3{
  padding: 0 30px;
}
.summary{
  background-color: #171717;
  box-shadow: 30px ;
}
.summary-image img{
  width: 50px;
  height: 50px;
  background-color: #fff;
 margin-top: 50px;
  
}
.summary-heading h2{
  color: #fff;
}
.summary-list li{
  color: #fff;
}
/* expertise section */
.main-heading{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.expertise-inner .inner-heading h2{
  padding-top: 50px;
}
.expertise-inner .common-title h5{
  padding-top: 50px;
}
.expertise-inner .list ul li{
  padding-top: 10px;
}
.expertise-inner .img{
  width: 300px;
  height: 300px;
 position: relative;
 bottom: 50px;
 left: 40%;
}
 .expertise-inner .border{
  border-radius: 30px 0px 30px;
	border: 1px solid #D9D9D9;
  margin: 100px;

}
.expertise-inner .border2{
  border-radius: 30px 0px 30px;
	border: 1px solid #D9D9D9;
 margin: 100px;

}
/* service section */

.service-title h1{
  text-align: center;
}
.service-title p{
  text-align: center;
}
.our-services-items{
  padding-top: 50px;
  
}
.service-part-1 p{
  margin-top: 20px;
}
.service-part-2 p{
  margin-top: 20px;
}
.service-part-3 p{
  margin-top: 20px;
}
.service-part-1{
  border-radius: 30px 0px 30px;
	border: 1px solid #D9D9D9;
 width: 40%;
 height: 250px;
 text-align: center;
 background-color: transparent;

 margin: 20px 20px;
 padding: 10px 10px;
}
.service-part-2{
  border-radius: 30px 0px 30px;
	border: 1px solid #D9D9D9;
 width: 40%;
 height: 250px;
 text-align: center;
 background-color: transparent;
 margin: 20px 20px;
  padding: 10px 10px;
}
.service-part-3{
  border-radius: 30px 0px 30px;
	border: 1px solid #D9D9D9;
 width: 40%;
 height: 250px;
 text-align: center;
 background-color: transparent;
 
 margin: 20px 20px;
 padding: 10px 10px;
}
